@import 'normalize.css';
#background {
    background-color: #34495e;
    height: 100vh;
    text-align: center;
    padding: 4rem 0;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.fa:hover {
    color: #34495e;
}

.fa {
    color: rgb(58, 58, 61);
}

#section4 .fa {
    color: black;
}

#section4 {
    height: 20vh;
    padding-top: 5rem;
}

#section,
.row {
    padding-top: 8rem;
}

.navbar .input-group .form-group {
    opacity: .9;
    margin-top: 12px;
    border-style: transparent;
    color: white;
    font-size: 24px;
}

.input-group .btn {
    margin-top: 27px;
    border-style: none;
    font-size: 16px;
    background-color: rgb(58, 58, 61);
    height: 3.05em;
    color: white;
}

.navbar .btn {
    width: 8rem;
    opacity: .7;
    background: #121a21;
    color: white;
}

.form-group .form-control {
    background-color: rgb(58, 58, 61);
    border-style: none;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 27px;
    height: 3.5em;
}

#section1 h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 16rem;
}

#section2 h1,
p {
    color: white;
}

li {
    list-style: none;
}

#section1 {
    background-color: white;
    color: rgb(58, 58, 61);
    background-size: cover;
    height: 100vh;
    padding-top: 15%;
}


/*Media Queries*/

#section2 {
    /*background-image: url(images/records.jpg);*/
    height: 70vh;
    padding-bottom: 67rem;
    background-color: #FF5722;
}

#section3 {
    background-image: url(images/console.jpg);
    color: white;
    height: 60vh;
    background-repeat: no-repeat;
    padding-top: 5rem;
}

#section4 p {
    color: orange;
}

@media(max-width: 767px) {
    #background h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 4rem;
        font-weight: 300;
        letter-spacing: 1px;
        padding-top: 22rem;
        padding-left: 2rem;
        padding-right: 2rem;
        color: white;
    }
    #background .fa-mixcloud {
        font-size: 3.5rem;
    }
    #section1 .text-center,
    h1 {
        font-size: 50px;
    }
    #section1 .fa {
        font-size: 4.3rem;
    }
    #section1 .col-sm-4 {
        display: inline-block;
        margin-left: 21px;
    }
}
